﻿@model string

@{
    ViewBag.Title = "title";
}

<h2>File Upload</h2>

<form action="" method="post" enctype="multipart/form-data">
    <label for="file1">Filename:</label>
    <input type="file" name="files" id="file1" />

    <input type="submit" />
</form>

<span style="margin-top: 10px;">@Model</span>
