﻿@model IEnumerable<IOpenIdProvider>

@{
    ViewBag.Title = "Login";
}

<h2>Login Page</h2>

@foreach (var provider in Model)
{
    <div>
        <a href="/OpenId/Login?providerName=@provider.Name">Click here to login into @provider.Name</a>
    </div>
}